<html lang="en-IR">
<head>
    <meta charset="UTF-8">
    <title>AmniatProject</title>
</head>
<body>
<div class="mt-2 col-md-12"></div>

<div class="d-flex justify-content-center">

    <form method="post" autocomplete="off" action="{% url 'web-login-api' %}">
        <p>Username</p>
        <label>
            <input type="text" name="username">
        </label>
        <p>Password</p>
        <label>
            <input type="password" name="password">
        </label>
        <input type="submit" value="Log in">
        <input type="hidden" name="next" value="{{ request.GET.next }}">

    </form>
</div>
</body>
</html>
